# Python files and folders
__pycache__/
*.pyc
*.pyo

# Environment files and folders
.env
.env.*
venv/
instance/

# Editor & OS artifacts
*.log
*.db
*.sqlite3

# PDFs (optional: if you want to keep invoice files out of Git)
*.pdf

# VS Code
.vscode/

# Windows
Scripts/
