# Python files and folders
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment files and folders
venv/
instance/
.venv/
ENV/
env/
bin/
lib/
include/
Scripts/
site-packages/

# dotenv
.env
.env.*

# Editor & OS artifacts
*.log
*.db
*.sqlite3

# PDFs (optional: if you want to keep invoice files out of Git)
*.pdf

# System files
*.DS_Store

# VS Code
.vscode/

# Windows
Scripts/

# Project-specific
instance/
*.log
